import os

# Google Client project parameters
google_project_id = '32686918642.apps.googleusercontent.com'
google_redirect_uri = 'urn:ietf:wg:oauth:2.0:oob'
secret = 'WpSlnpIxxxxxxn915ejhN4hj'

# User parameters
user_email = ['alicia.fxxxxxxpo@gmail.com', 'martxxxxxxxxxll@gmail.com', 'dude.xxxxxx@gmail.com']
workbook_key = ['0AhgdNB3-bSxxxxxxxWJ3YTAzd015UFJTZ3FwZlc1TlE', '0AolwuF_iap6TdxxxxxxuSFNGLWhQOTFPd0Z6ZkJfRlE', '0Ao882NWHcSjgdHJJSURUSE04QVxxxxxxbWJLOHJZT0E']

# App parameters
log_file_name = 'gOAuth.log'
log_file_path = './logs'
store_file = '.tknStore.db'
store_path = os.path.expanduser('~') + '/' + store_file

