[Google Account]
email: example@gmail.com, not the ".iam.gserviceaccount.com" address.
password:

[Spreadsheet]
id: string following "https://docs.google.com/spreadsheets/d/" and preceding "/edit"
title: title of this spreadsheet
key: same as id
url: full url of this spreadsheet
sheet1_title: title of the first worksheet
new_spreadsheet_title: could be anything you like
