{
  "http_interactions": [
    {
      "recorded_at": "2018-10-08T20:16:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1O2zlN2GH6T1eudOjfUPKQouxFmN31zna-NT0nGxMLt0\",\n   \"name\": \"Test SpreadsheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"11A_X9wnyxVwt1o6iSrc8Px0AfeGqFBRyA_styQEkCSE\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1O2zlN2GH6T1eudOjfUPKQouxFmN31zna-NT0nGxMLt0",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test SpreadsheetTest"
            },
            {
              "id": "11A_X9wnyxVwt1o6iSrc8Px0AfeGqFBRyA_styQEkCSE",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test Spreadsheet"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}