{
  "http_interactions": [
    {
      "recorded_at": "2020-04-16T09:30:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1CrDdb6uvgTwRiicwqGX9nDX38iCYfzwck7WE8mt1YGU?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1CrDdb6uvgTwRiicwqGX9nDX38iCYfzwck7WE8mt1YGU\",\n  \"properties\": {\n    \"title\": \"Test CellTest\",\n    \"locale\": \"en_US\",\n    \"autoRecalc\": \"ON_CHANGE\",\n    \"timeZone\": \"Etc/GMT\",\n    \"defaultFormat\": {\n      \"backgroundColor\": {\n        \"red\": 1,\n        \"green\": 1,\n        \"blue\": 1\n      },\n      \"padding\": {\n        \"top\": 2,\n        \"right\": 3,\n        \"bottom\": 2,\n        \"left\": 3\n      },\n      \"verticalAlignment\": \"BOTTOM\",\n      \"wrapStrategy\": \"OVERFLOW_CELL\",\n      \"textFormat\": {\n        \"foregroundColor\": {},\n        \"fontFamily\": \"arial,sans,sans-serif\",\n        \"fontSize\": 10,\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"foregroundColorStyle\": {\n          \"rgbColor\": {}\n        }\n      },\n      \"backgroundColorStyle\": {\n        \"rgbColor\": {\n          \"red\": 1,\n          \"green\": 1,\n          \"blue\": 1\n        }\n      }\n    },\n    \"spreadsheetTheme\": {\n      \"primaryFontFamily\": \"Arial\",\n      \"themeColors\": [\n        {\n          \"colorType\": \"ACCENT6\",\n          \"color\": {\n            \"rgbColor\": {\n              \"red\": 0.27450982,\n              \"green\": 0.7411765,\n              \"blue\": 0.7764706\n            }\n          }\n        },\n        {\n          \"colorType\": \"ACCENT1\",\n          \"color\": {\n            \"rgbColor\": {\n              \"red\": 0.25882354,\n              \"green\": 0.52156866,\n              \"blue\": 0.95686275\n            }\n          }\n        },\n        {\n          \"colorType\": \"ACCENT4\",\n          \"colo[...]
    {
      "recorded_at": "2020-04-16T09:30:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1CrDdb6uvgTwRiicwqGX9nDX38iCYfzwck7WE8mt1YGU/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1CrDdb6uvgTwRiicwqGX9nDX38iCYfzwck7WE8mt1YGU/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2020-04-16T09:31:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1lVqjrBdkYscGn_8NGcDAwYDVZnDSjFlwbP5gGjJ5W0g?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-04-16T09:31:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1lVqjrBdkYscGn_8NGcDAwYDVZnDSjFlwbP5gGjJ5W0g/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1lVqjrBdkYscGn_8NGcDAwYDVZnDSjFlwbP5gGjJ5W0g/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2020-04-16T09:49:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-04-16T09:49:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2020-04-16T09:49:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"Dummy\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "Dummy"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28/values/%27Sheet1%27%21B1?valueInputOption=USER_ENTERED"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28\",\n  \"updatedRange\": \"Sheet1!B1\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 1\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28",
          "updatedCells": 1,
          "updatedColumns": 1,
          "updatedRange": "Sheet1!B1",
          "updatedRows": 1
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28/values/%27Sheet1%27%21B1?valueInputOption=USER_ENTERED"
      }
    },
    {
      "recorded_at": "2020-04-16T09:49:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28/values/%27Sheet1%27"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!A1:Z1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"\",\n      \"Dummy\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!A1:Z1000",
          "values": [
            [
              "",
              "Dummy"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ZRX3BcV-jZXTi2qh5rO2NXjy7LgcfF2zmjyREwLXl28/values/%27Sheet1%27"
      }
    },
    {
      "recorded_at": "2020-04-16T09:50:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1nD_qs40PUXsm123AP545tv99RAQXIxeuwSZX8Y39vSc?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-04-16T09:50:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1nD_qs40PUXsm123AP545tv99RAQXIxeuwSZX8Y39vSc/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1nD_qs40PUXsm123AP545tv99RAQXIxeuwSZX8Y39vSc/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2020-04-16T09:50:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"Dummy\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "Dummy"
            ]
          ]
        },
        "method": "PUT[...]
    {
      "recorded_at": "2020-04-16T09:50:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1nD_qs40PUXsm123AP545tv99RAQXIxeuwSZX8Y39vSc/values/%27Sheet1%27"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!A1:Z1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"\",\n      \"Dummy\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!A1:Z1000",
          "values": [
            [
              "",
              "Dummy"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1nD_qs40PUXsm123AP545tv99RAQXIxeuwSZX8Y39vSc/values/%27Sheet1%27"
      }
    },
    {
      "recorded_at": "2020-04-16T09:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+CellTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA\",\n   \"name\": \"Test CellTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test CellTest"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+CellTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      }
    },
    {
      "recorded_at": "2020-04-16T09:52:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-04-16T09:52:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA/values/%27Sheet1%27%21D4?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2020-04-16T09:52:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"Dummy\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "Dummy"
            ]
          ]
        },
        "method": "PUT[...]
    {
      "recorded_at": "2020-04-16T09:52:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA/values/%27Sheet1%27"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"Sheet1!A1:Z1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"\",\n      \"Dummy\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "Sheet1!A1:Z1000",
          "values": [
            [
              "",
              "Dummy"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1dxMDUAurNnuxma_Dbe9zt89zQAqBNa2bUmfKf5vl0KA/values/%27Sheet1%27"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}