{
  "http_interactions": [
    {
      "recorded_at": "2020-04-03T19:34:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Original\", \"mimeType\": \"application/vnd.google-apps.spreadsheet\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "name": "Original"
        },
        "method": "POST",
        "uri": "https://www.googleapis.com/drive/v3/files"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#file\",\n \"id\": \"1yLumP2Hh71wxoxJu_w81I0onWZAyqDSRJNg_NgsAUWs\",\n \"name\": \"Original\",\n \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "id": "1yLumP2Hh71wxoxJu_w81I0onWZAyqDSRJNg_NgsAUWs",
          "kind": "drive#file",
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "name": "Original"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files"
      }
    },
    {
      "recorded_at": "2020-04-03T19:34:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"title\": null, \"mimeType\": \"application/vnd.google-apps.spreadsheet\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "title": null
        },
        "method": "POST",
        "uri": "https://www.googleapis.com/drive/v2/files/1yLumP2Hh71wxoxJu_w81I0onWZAyqDSRJNg_NgsAUWs/copy?supportsAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#file\",\n \"id\": \"1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ\",\n \"etag\": \"\\\"StLURADGvFAD7O9Kbwy7cPbE-UU/MTU4NTk0MjQ2NjQ5Nw\\\"\",\n \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ\",\n \"alternateLink\": \"https://docs.google.com/spreadsheets/d/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ/edit?usp=drivesdk\",\n \"embedLink\": \"https://docs.google.com/spreadsheets/d/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ/htmlembed?ouid=117345471312358601321\",\n \"iconLink\": \"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet\",\n \"title\": \"Copy of Original\",\n \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n \"labels\": {\n  \"starred\": false,\n  \"hidden\": false,\n  \"trashed\": false,\n  \"restricted\": false,\n  \"viewed\": true\n },\n \"copyRequiresWriterPermission\": false,\n \"createdDate\": \"2020-04-03T19:34:26.497Z\",\n \"modifiedDate\": \"2020-04-03T19:34:26.497Z\",\n \"modifiedByMeDate\": \"2020-04-03T19:34:26.497Z\",\n \"lastViewedByMeDate\": \"2020-04-03T19:34:26.497Z\",\n \"markedViewedByMeDate\": \"1970-01-01T00:00:00.000Z\",\n \"version\": \"3\",\n \"parents\": [\n  {\n   \"kind\": \"drive#parentReference\",\n   \"id\": \"0AJ0eIo9JjYbMUk9PVA\",\n   \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ/parents/0AJ0eIo9JjYbMUk9PVA\",\n   \"parentLink\": \"https://www.googleapis.com/drive/v2/files/0AJ0eIo9JjYbMUk9PVA\",\n   \"isRoot\": true\n  }\n ],\n \"exportLinks\": {\n  \"application/x-vnd.oasis.opendocument.spreadsheet\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=ods\",\n  \"text/tab-separated-values\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=tsv\",\n  \"application/pdf\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=pdf\",\n  \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=xlsx\",\n  \"text/csv\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=csv\",\n  \"application/zip\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=zip\",\n  \"application/vnd.oasis.opendocument.spreadsheet\": \"https://docs.google.com/spreadsheets/export?id=1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ&exportFormat=ods\"\n },\n \"userPermission\": {\n  \"kind\": \"drive#permission\",\n  \"etag\": \"\\\"StLURADGvFAD7O9Kbwy7cPbE-UU/luC3JJSYYKGtsZarC_dIO3TQRoo\\\"\",\n  \"id\": \"me\",\n  \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ/permissions/me\",\n  \"role\": \"owner\",\n  \"type\": \"user\"\n },\n \"quotaBytesUsed\": \"0\",\n \"ownerNames\": [\n  \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n ],\n \"owners\": [\n  {\n   \"kind\": \"drive#user\",\n   \"displayName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n   \"isAuthenticatedUser\": true,\n   \"permissionId\": \"08669770340085466890\",\n   \"emailAddress\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n  }\n ],\n \"lastModifyingUserName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n \"lastModifyingUser\": {\n  \"kind\": \"drive#user\",\n  \"displayName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n  \"isAuthenticatedUser\": true,\n  \"permissionId\": \"08669770340085466890\",\n  \"emailAddress\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n },\n \"capabilities\": {\n  \"canCopy\": true,\n  \"canEdit\": true\n },\n \"editable\": true,\n \"copyable\": true,\n \"writersCanShare\": true,\n \"shared\": false,\n \"explicitlyTrashed\": false,\n \"appDataContents\": false,\n \"spaces\": [\n  \"drive\"\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "alternateLink": "https://docs.google.com/spreadsheets/d/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ/edit?usp=drivesdk",
          "appDataContents": false,
          "capabilities": {
            "canCopy": true,
            "canEdit": true
          },
          "copyRequiresWriterPermission": false,
       [...]
    {
      "recorded_at": "2020-04-03T19:34:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1yLumP2Hh71wxoxJu_w81I0onWZAyqDSRJNg_NgsAUWs?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1yLumP2Hh71wxoxJu_w81I0onWZAyqDSRJNg_NgsAUWs\",\n  \"properties\": {\n    \"title\": \"Original\",\n    \"locale\": \"en_US\",\n    \"autoRecalc\": \"ON_CHANGE\",\n    \"timeZone\": \"Etc/GMT\",\n    \"defaultFormat\": {\n      \"backgroundColor\": {\n        \"red\": 1,\n        \"green\": 1,\n        \"blue\": 1\n      },\n      \"padding\": {\n        \"top\": 2,\n        \"right\": 3,\n        \"bottom\": 2,\n        \"left\": 3\n      },\n      \"verticalAlignment\": \"BOTTOM\",\n      \"wrapStrategy\": \"OVERFLOW_CELL\",\n      \"textFormat\": {\n        \"foregroundColor\": {},\n        \"fontFamily\": \"arial,sans,sans-serif\",\n        \"fontSize\": 10,\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"foregroundColorStyle\": {\n          \"rgbColor\": {}\n        }\n      },\n      \"backgroundColorStyle\": {\n        \"rgbColor\": {\n          \"red\": 1,\n          \"green\": 1,\n          \"blue\": 1\n        }\n      }\n    },\n    \"spreadsheetTheme\": {\n      \"primaryFontFamily\": \"Arial\",\n      \"themeColors\": [\n        {\n          \"colorType\": \"ACCENT1\",\n          \"color\": {\n            \"rgbColor\": {\n              \"red\": 0.25882354,\n              \"green\": 0.52156866,\n              \"blue\": 0.95686275\n            }\n          }\n        },\n        {\n          \"colorType\": \"ACCENT6\",\n          \"color\": {\n            \"rgbColor\": {\n              \"red\": 0.27450982,\n              \"green\": 0.7411765,\n              \"blue\": 0.7764706\n            }\n          }\n        },\n        {\n          \"colorType\": \"TEXT\",\n          \"color\"[...]
    {
      "recorded_at": "2020-04-03T19:34:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1CbC49NRkr9__EnNNzMq-WkAAxSiGW3aescZc5mHW1HQ?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
