{
  "http_interactions": [
    {
      "recorded_at": "2020-04-03T19:34:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"TestImportSpreadsheet\", \"mimeType\": \"application/vnd.google-apps.spreadsheet\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "name": "TestImportSpreadsheet"
        },
        "method": "POST",
        "uri": "https://www.googleapis.com/drive/v3/files"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#file\",\n \"id\": \"1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA\",\n \"name\": \"TestImportSpreadsheet\",\n \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "id": "1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA",
          "kind": "drive#file",
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "name": "TestImportSpreadsheet"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files"
      }
    },
    {
      "recorded_at": "2020-04-03T19:34:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "test_import_csv 1,test_import_csv 2,test_import_csv 3,test_import_csv 4\ntest_import_csv 5,test_import_csv 6,test_import_csv 7,test_import_csv 8\ntest_import_csv 9,test_import_csv 10,test_import_csv 11,test_import_csv 12\ntest_import_csv 13,test_import_csv 14,test_import_csv 15,test_import_csv 16"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "text/csv"
          ]
        },
        "method": "PUT",
        "uri": "https://www.googleapis.com/upload/drive/v2/files/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA?uploadType=media&convert=True&supportsAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#file\",\n \"id\": \"1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA\",\n \"etag\": \"\\\"StLURADGvFAD7O9Kbwy7cPbE-UU/MTU4NTk0MjQ3NTczNg\\\"\",\n \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA\",\n \"alternateLink\": \"https://docs.google.com/spreadsheets/d/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/edit?usp=drivesdk\",\n \"embedLink\": \"https://docs.google.com/spreadsheets/d/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/htmlembed?ouid=117345471312358601321\",\n \"iconLink\": \"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet\",\n \"thumbnailLink\": \"https://docs.google.com/feeds/vt?gd=true&id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&v=1&s=AMedNnoAAAAAXoer7AiTUyONmCr6f3qFIXmzlY2SqWe5&sz=s220\",\n \"title\": \"TestImportSpreadsheet\",\n \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n \"labels\": {\n  \"starred\": false,\n  \"hidden\": false,\n  \"trashed\": false,\n  \"restricted\": false,\n  \"viewed\": true\n },\n \"copyRequiresWriterPermission\": false,\n \"createdDate\": \"2020-04-03T19:34:32.656Z\",\n \"modifiedDate\": \"2020-04-03T19:34:35.736Z\",\n \"modifiedByMeDate\": \"2020-04-03T19:34:35.736Z\",\n \"lastViewedByMeDate\": \"2020-04-03T19:34:35.736Z\",\n \"markedViewedByMeDate\": \"1970-01-01T00:00:00.000Z\",\n \"version\": \"5\",\n \"parents\": [\n  {\n   \"kind\": \"drive#parentReference\",\n   \"id\": \"0AJ0eIo9JjYbMUk9PVA\",\n   \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/parents/0AJ0eIo9JjYbMUk9PVA\",\n   \"parentLink\": \"https://www.googleapis.com/drive/v2/files/0AJ0eIo9JjYbMUk9PVA\",\n   \"isRoot\": true\n  }\n ],\n \"exportLinks\": {\n  \"application/x-vnd.oasis.opendocument.spreadsheet\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=ods\",\n  \"text/tab-separated-values\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=tsv\",\n  \"application/pdf\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=pdf\",\n  \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=xlsx\",\n  \"text/csv\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=csv\",\n  \"application/zip\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=zip\",\n  \"application/vnd.oasis.opendocument.spreadsheet\": \"https://docs.google.com/spreadsheets/export?id=1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA&exportFormat=ods\"\n },\n \"userPermission\": {\n  \"kind\": \"drive#permission\",\n  \"etag\": \"\\\"StLURADGvFAD7O9Kbwy7cPbE-UU/IgD2Kdpn7a__GVsEi2FBxUWQ5Fg\\\"\",\n  \"id\": \"me\",\n  \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/permissions/me\",\n  \"role\": \"owner\",\n  \"type\": \"user\"\n },\n \"quotaBytesUsed\": \"0\",\n \"ownerNames\": [\n  \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n ],\n \"owners\": [\n  {\n   \"kind\": \"drive#user\",\n   \"displayName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n   \"isAuthenticatedUser\": true,\n   \"permissionId\": \"08669770340085466890\",\n   \"emailAddress\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n  }\n ],\n \"lastModifyingUserName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n \"lastModifyingUser\": {\n  \"kind\": \"drive#user\",\n  \"displayName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n  \"isAuthenticatedUser\": true,\n  \"permissionId\": \"08669770340085466890\",\n  \"emailAddress\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n },\n \"capabilities\": {\n  \"canCopy\": true,\n  \"canEdit\": true\n },\n \"editable\": true,\n \"copyable\": true,\n \"writersCanShare\": true,\n \"shared\": false,\n \"explicitlyTrashed\": false,\n \"appDataContents\": false,\n \"spaces\": [\n  \"drive\"\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "\"StLURADGvFAD7O9Kbwy7cPbE-UU/MTU4NTk0MjQ3NTczNg\""
          ]
        },
        "json_body": {
          "alternateLink": "https://docs.google.com/spreadsheets/d/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/edit?usp=drivesdk",
          "appDataContents": false,
          "capabilities": {
            "canCopy": true,
            "canEdit": true
          },
          "copyRequiresWriterPermission": false,
          "copyable": true,
          "createdDate": "2020-04-03T19:34:[...]
    {
      "recorded_at": "2020-04-03T19:34:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA\",\n  \"properties\": {\n    \"title\": \"TestImportSpreadsheet\",\n    \"locale\": \"en_US\",\n    \"autoRecalc\": \"ON_CHANGE\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"defaultFormat\": {\n      \"backgroundColor\": {\n        \"red\": 1,\n        \"green\": 1,\n        \"blue\": 1\n      },\n      \"padding\": {\n        \"top\": 2,\n        \"right\": 3,\n        \"bottom\": 2,\n        \"left\": 3\n      },\n      \"verticalAlignment\": \"BOTTOM\",\n      \"wrapStrategy\": \"OVERFLOW_CELL\",\n      \"textFormat\": {\n        \"foregroundColor\": {},\n        \"fontFamily\": \"arial,sans,sans-serif\",\n        \"fontSize\": 10,\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"foregroundColorStyle\": {\n          \"rgbColor\": {}\n        }\n      },\n      \"backgroundColorStyle\": {\n        \"rgbColor\": {\n          \"red\": 1,\n          \"green\": 1,\n          \"blue\": 1\n        }\n      }\n    }\n  },\n  \"sheets\": [\n    {\n      \"properties\": {\n        \"sheetId\": 1987993854,\n        \"title\": \"TestImportSpreadsheet\",\n        \"index\": 0,\n        \"sheetType\": \"GRID\",\n        \"gridProperties\": {\n          \"rowCount\": 1000,\n          \"columnCount\": 26\n        }\n      }\n    }\n  ],\n  \"spreadsheetUrl\": \"https://docs.google.com/spreadsheets/d/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/edit\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "properties": {
            "autoRecalc": "ON_CHANGE",
            "defaultFormat": {
              "backgroundColor": {
                "blue": 1,
                "green": 1,
                "red": 1
              },
              "backg[...]
    {
      "recorded_at": "2020-04-03T19:34:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA/values/%27TestImportSpreadsheet%27?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"TestImportSpreadsheet!A1:Z1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"test_import_csv 1\",\n      \"test_import_csv 2\",\n      \"test_import_csv 3\",\n      \"test_import_csv 4\"\n    ],\n    [\n      \"test_import_csv 5\",\n      \"test_import_csv 6\",\n      \"test_import_csv 7\",\n      \"test_import_csv 8\"\n    ],\n    [\n      \"test_import_csv 9\",\n      \"test_import_csv 10\",\n      \"test_import_csv 11\",\n      \"test_import_csv 12\"\n    ],\n    [\n      \"test_import_csv 13\",\n      \"test_import_csv 14\",\n      \"test_import_cs[...]
    {
      "recorded_at": "2020-04-03T19:34:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://www.googleapis.com/drive/v3/files/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA?supportsAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.googleapis.com/drive/v3/files/1h0GtG44MjYhtF8hQ3Gy4hoFOqIrGw6zkOEYfZR-EAmA?supportsAllDrives=True"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}