{
  "http_interactions": [
    {
      "recorded_at": "2020-04-03T19:34:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Test Spreadsheet\", \"mimeType\": \"application/vnd.google-apps.spreadsheet\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "name": "Test Spreadsheet"
        },
        "method": "POST",
        "uri": "https://www.googleapis.com/drive/v3/files"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#file\",\n \"id\": \"1cfpUNMXxohpqzPGwRlYfQzDfW0yC5DPxiAuPcEyPhUc\",\n \"name\": \"Test Spreadsheet\",\n \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "id": "1cfpUNMXxohpqzPGwRlYfQzDfW0yC5DPxiAuPcEyPhUc",
          "kind": "drive#file",
          "mimeType": "application/vnd.google-apps.spreadsheet",
          "name": "Test Spreadsheet"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}