{
  "http_interactions": [
    {
      "recorded_at": "2018-10-08T20:16:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "test_import_csv 1,test_import_csv 2,test_import_csv 3,test_import_csv 4\ntest_import_csv 5,test_import_csv 6,test_import_csv 7,test_import_csv 8\ntest_import_csv 9,test_import_csv 10,test_import_csv 11,test_import_csv 12\ntest_import_csv 13,test_import_csv 14,test_import_csv 15,test_import_csv 16"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "text/csv"
          ]
        },
        "method": "PUT",
        "uri": "https://www.googleapis.com/upload/drive/v2/files/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4?uploadType=media&convert=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#file\",\n \"id\": \"1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4\",\n \"etag\": \"\\\"omwGuTP8OdxhZkubyp-j43cFdJQ/MTUzOTAyOTc2NjI0MQ\\\"\",\n \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4\",\n \"alternateLink\": \"https://docs.google.com/spreadsheets/d/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/edit?usp=drivesdk\",\n \"embedLink\": \"https://docs.google.com/spreadsheets/d/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/htmlembed?ouid=117345471312358601321\",\n \"iconLink\": \"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet\",\n \"thumbnailLink\": \"https://docs.google.com/feeds/vt?gd=true&id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&v=1&s=AMedNnoAAAAAW7vXJ2O_4RELX3htT1Pae5O9hMfERxCt&sz=s220\",\n \"title\": \"TestImportSpreadsheet\",\n \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n \"labels\": {\n  \"starred\": false,\n  \"hidden\": false,\n  \"trashed\": false,\n  \"restricted\": false,\n  \"viewed\": true\n },\n \"copyRequiresWriterPermission\": false,\n \"createdDate\": \"2018-10-08T20:16:04.871Z\",\n \"modifiedDate\": \"2018-10-08T20:16:06.241Z\",\n \"modifiedByMeDate\": \"2018-10-08T20:16:06.241Z\",\n \"lastViewedByMeDate\": \"2018-10-08T20:16:06.241Z\",\n \"markedViewedByMeDate\": \"1970-01-01T00:00:00.000Z\",\n \"version\": \"5\",\n \"parents\": [\n  {\n   \"kind\": \"drive#parentReference\",\n   \"id\": \"0AJ0eIo9JjYbMUk9PVA\",\n   \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/parents/0AJ0eIo9JjYbMUk9PVA\",\n   \"parentLink\": \"https://www.googleapis.com/drive/v2/files/0AJ0eIo9JjYbMUk9PVA\",\n   \"isRoot\": true\n  }\n ],\n \"exportLinks\": {\n  \"application/x-vnd.oasis.opendocument.spreadsheet\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=ods\",\n  \"text/tab-separated-values\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=tsv\",\n  \"application/pdf\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=pdf\",\n  \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=xlsx\",\n  \"text/csv\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=csv\",\n  \"application/zip\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=zip\",\n  \"application/vnd.oasis.opendocument.spreadsheet\": \"https://docs.google.com/spreadsheets/export?id=1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4&exportFormat=ods\"\n },\n \"userPermission\": {\n  \"kind\": \"drive#permission\",\n  \"etag\": \"\\\"omwGuTP8OdxhZkubyp-j43cFdJQ/KwakkBCScA8LxXlB1ulrHJHGNog\\\"\",\n  \"id\": \"me\",\n  \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/permissions/me\",\n  \"role\": \"owner\",\n  \"type\": \"user\"\n },\n \"quotaBytesUsed\": \"0\",\n \"ownerNames\": [\n  \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n ],\n \"owners\": [\n  {\n   \"kind\": \"drive#user\",\n   \"displayName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n   \"isAuthenticatedUser\": true,\n   \"permissionId\": \"08669770340085466890\",\n   \"emailAddress\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n  }\n ],\n \"lastModifyingUserName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n \"lastModifyingUser\": {\n  \"kind\": \"drive#user\",\n  \"displayName\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\",\n  \"isAuthenticatedUser\": true,\n  \"permissionId\": \"08669770340085466890\",\n  \"emailAddress\": \"933192577840-ncdrpgmg63quufb5c54b4vvko8is7epb@developer.gserviceaccount.com\"\n },\n \"capabilities\": {\n  \"canCopy\": true,\n  \"canEdit\": true\n },\n \"editable\": true,\n \"copyable\": true,\n \"writersCanShare\": true,\n \"shared\": false,\n \"explicitlyTrashed\": false,\n \"appDataContents\": false,\n \"spaces\": [\n  \"drive\"\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "ETag": [
            "\"omwGuTP8OdxhZkubyp-j43cFdJQ/MTUzOTAyOTc2NjI0MQ\""
          ]
        },
        "json_body": {
          "alternateLink": "https://docs.google.com/spreadsheets/d/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/edit?usp=drivesdk",
          "appDataContents": false,
          "capabilities": {
            "canCopy": true,
            "canEdit": true
          },
          "copyRequiresWriterPermission": false,
          "copyable": true,
          "createdDate": "2018-10-08T20:16:04.871Z",
          "editable": true,
          "embedLink": "https://docs.google.com/spreadsheets/d/1GGoPX1Iru[...]
    {
      "recorded_at": "2018-10-08T20:16:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4\",\n  \"properties\": {\n    \"title\": \"TestImportSpreadsheet\",\n    \"locale\": \"en_US\",\n    \"autoRecalc\": \"ON_CHANGE\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"defaultFormat\": {\n      \"backgroundColor\": {\n        \"red\": 1,\n        \"green\": 1,\n        \"blue\": 1\n      },\n      \"padding\": {\n        \"top\": 2,\n        \"right\": 3,\n        \"bottom\": 2,\n        \"left\": 3\n      },\n      \"verticalAlignment\": \"BOTTOM\",\n      \"wrapStrategy\": \"OVERFLOW_CELL\",\n      \"textFormat\": {\n        \"foregroundColor\": {},\n        \"fontFamily\": \"arial,sans,sans-serif\",\n        \"fontSize\": 10,\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false\n      }\n    }\n  },\n  \"sheets\": [\n    {\n      \"properties\": {\n        \"sheetId\": 1319099401,\n        \"title\": \"TestImportSpreadsheet\",\n        \"index\": 0,\n        \"sheetType\": \"GRID\",\n        \"gridProperties\": {\n          \"rowCount\": 1000,\n          \"columnCount\": 26\n        }\n      }\n    }\n  ],\n  \"spreadsheetUrl\": \"https://docs.google.com/spreadsheets/d/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/edit\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "properties": {
            "autoRecalc": "ON_CHANGE",
            "defaultFormat": {
              "backgroundColor": {
                "blue": 1,
                "green": 1,
                "red": 1
              },
              "paddi[...]
    {
      "recorded_at": "2018-10-08T20:16:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4/values/TestImportSpreadsheet"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"TestImportSpreadsheet!A1:Z1000\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"test_import_csv 1\",\n      \"test_import_csv 2\",\n      \"test_import_csv 3\",\n      \"test_import_csv 4\"\n    ],\n    [\n      \"test_import_csv 5\",\n      \"test_import_csv 6\",\n      \"test_import_csv 7\",\n      \"test_import_csv 8\"\n    ],\n    [\n      \"test_import_csv 9\",\n      \"test_import_csv 10\",\n      \"test_import_csv 11\",\n      \"test_import_csv 12\"\n    ],\n    [\n      \"test_import_csv 13\",\n      \"test_import_csv 14\",\n      \"test_import_cs[...]
    {
      "recorded_at": "2018-10-08T20:16:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://www.googleapis.com/drive/v2/files/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "ETag": [
            "\"omwGuTP8OdxhZkubyp-j43cFdJQ/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.googleapis.com/drive/v2/files/1GGoPX1IruYfHEZZf_NRU8jPn8mixlDPrlxiMakP-Ye4"
      }
    },
    {
      "recorded_at": "2020-02-15T18:16:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "test_import_csv 1,test_import_csv 2,test_import_csv 3,test_import_csv 4\ntest_import_csv 5,test_import_csv 6,test_import_csv 7,test_import_csv 8\ntest_import_csv 9,test_import_csv 10,test_import_csv 11,test_import_csv 12\ntest_import_csv 13,test_import_csv 14,test_import_csv 15,test_import_csv 16"
        },
        "headers": {
          "Authorization": [
 [...]
    {
      "recorded_at": "2020-02-15T18:16:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1Ssoskz0WJknimohUjKH_YhTkn6NTlD-qSF-JO-dmk2U?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1Ssoskz0WJknimohUjKH_YhTkn6NTlD-qSF-JO-dmk2U\",\n  \"properties\": {\n    \"title\": \"TestImportSpreadsheet\",\n    \"locale\": \"en_US\",\n    \"autoRecalc\": \"ON_CHANGE\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"defaultFormat\": {\n      \"backgroundColor\": {\n        \"red\": 1,\n        \"green\": 1,\n        \"blue\": 1\n      },\n      \"padding\": {\n        \"top\": 2,\n        \"right\": 3,\n        \"bottom\": 2,\n        \"left\": 3\n      },\n      \"verticalAlignment\": \"BOTTOM\",\n      \"wrapStrategy\": \"OVERFLOW_CELL\",\n      \"textFormat\": {\n        \"foregroundColor\": {},\n        \"fontFamily\": \"arial,sans,sans-serif\",\n        \"fontSize\": 10,\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"foregroundColorStyle\": {\n          \"rgbColor\": {}\n        }\n      },\n      \"backgroundColorStyle\": {\n        \"rgbColor\": {\n          \"red\": 1,\n          \"green\": 1,\n          \"blue\": 1\n        }\n      }\n    }\n  },\n  \"sheets\": [\n    {\n      \"properties\": {\n        \"sheetId\": 1144856772,\n        \"title\": \"TestImportSpreadsheet\",\n        \"index\": 0,\n        \"sheetType\": \"GRID\",\n        \"gridProperties\": {\n          \"rowCount\": 1000,\n          \"columnCount\": 26\n        }\n      }\n    }\n  ],\n  \"spreadsheetUrl\": \"https://docs.google.com/spread[...]
    {
      "recorded_at": "2020-02-15T18:16:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1Ssoskz0WJknimohUjKH_YhTkn6NTlD-qSF-JO-dmk2U/values/TestImportSpreadsheet"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",[...]
    {
      "recorded_at": "2020-02-15T18:16:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://www.googleapis.com/drive/v2/files/1Ssoskz0WJknimohUjKH_YhTkn6NTlD-qSF-JO-dmk2U"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "ETag": [
            "\"x2jdlkqYTB8kzPmV7jH2KPtlR68/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.googleapis.com/drive/v2/files/1Ssoskz0WJknimohUjKH_YhTkn6NTlD-qSF-JO-dmk2U"
      }
    },
    {
      "recorded_at": "2020-02-15T18:50:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "test_import_csv 1,test_import_csv 2,test_import_csv 3,test_import_csv 4\ntest_import_csv 5,test_import_csv 6,test_import_csv 7,test_import_csv 8\ntest_import_csv 9,test_import_csv 10,test_import_csv 11,test_import_csv 12\ntest_import_csv 13,test_import_csv 14,test_import_csv 15,test_import_csv 16"
        },
        "headers": {
          "Authorization": [
 [...]
    {
      "recorded_at": "2020-02-15T18:50:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1zynMEpBuP-AxAbHGoBSsPEugFE5XAzLjQAaStNK9NVg?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-02-15T18:50:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1zynMEpBuP-AxAbHGoBSsPEugFE5XAzLjQAaStNK9NVg/values/TestImportSpreadsheet"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",[...]
    {
      "recorded_at": "2020-02-15T18:50:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://www.googleapis.com/drive/v2/files/1zynMEpBuP-AxAbHGoBSsPEugFE5XAzLjQAaStNK9NVg"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "ETag": [
            "\"x2jdlkqYTB8kzPmV7jH2KPtlR68/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.googleapis.com/drive/v2/files/1zynMEpBuP-AxAbHGoBSsPEugFE5XAzLjQAaStNK9NVg"
      }
    },
    {
      "recorded_at": "2020-02-17T13:19:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "test_import_csv 1,test_import_csv 2,test_import_csv 3,test_import_csv 4\ntest_import_csv 5,test_import_csv 6,test_import_csv 7,test_import_csv 8\ntest_import_csv 9,test_import_csv 10,test_import_csv 11,test_import_csv 12\ntest_import_csv 13,test_import_csv 14,test_import_csv 15,test_import_csv 16"
        },
        "headers": {
          "Authorization": [
 [...]
    {
      "recorded_at": "2020-02-17T13:19:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/10qqPZ8mx-rxeXmcGV4OvIGwr_CTJ2LL8B4b8FsVIufI?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-02-17T13:19:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/10qqPZ8mx-rxeXmcGV4OvIGwr_CTJ2LL8B4b8FsVIufI/values/TestImportSpreadsheet"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",[...]
    {
      "recorded_at": "2020-02-17T13:19:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://www.googleapis.com/drive/v2/files/10qqPZ8mx-rxeXmcGV4OvIGwr_CTJ2LL8B4b8FsVIufI"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "ETag": [
            "\"x2jdlkqYTB8kzPmV7jH2KPtlR68/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.googleapis.com/drive/v2/files/10qqPZ8mx-rxeXmcGV4OvIGwr_CTJ2LL8B4b8FsVIufI"
      }
    },
    {
      "recorded_at": "2020-02-17T18:12:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"title\": \"TestImportSpreadsheet\", \"mimeType\": \"application/vnd.google-apps.spreadsheet\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "mimeType": "application/vnd.google-a[...]
    {
      "recorded_at": "2020-02-17T18:12:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "test_import_csv 1,test_import_csv 2,test_import_csv 3,test_import_csv 4\ntest_import_csv 5,test_import_csv 6,test_import_csv 7,test_import_csv 8\ntest_import_csv 9,test_import_csv 10,test_import_csv 11,test_import_csv 12\ntest_import_csv 13,test_import_csv 14,test_import_csv 15,test_import_csv 16"
        },
        "headers": {
          "Authorization": [
 [...]
    {
      "recorded_at": "2020-02-17T18:12:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/18Q3OfJE37-wiyxLeOG_2-rIQU14xvkKIxPZ6JGcJqi4?includeGridData=false"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
      [...]
    {
      "recorded_at": "2020-02-17T18:12:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/18Q3OfJE37-wiyxLeOG_2-rIQU14xvkKIxPZ6JGcJqi4/values/TestImportSpreadsheet"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",[...]
    {
      "recorded_at": "2020-02-17T18:12:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://www.googleapis.com/drive/v2/files/18Q3OfJE37-wiyxLeOG_2-rIQU14xvkKIxPZ6JGcJqi4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "ETag": [
            "\"x2jdlkqYTB8kzPmV7jH2KPtlR68/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.googleapis.com/drive/v2/files/18Q3OfJE37-wiyxLeOG_2-rIQU14xvkKIxPZ6JGcJqi4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}