{
  "http_interactions": [
    {
      "recorded_at": "2018-10-18T17:25:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"title\": \"\\ud83c\\udf35 test_values_get 1\", \"sheetType\": \"GRID\", \"gridProperties\": {\"rowCount\": 10, \"columnCount\": 10}}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 10,
                    "rowCount": 10
                  },
                  "sheetType": "GRID",
                  "title": "\ud83c\udf35 test_values_get 1"
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI\",\n  \"replies\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"sheetId\": 1959985975,\n          \"title\": \"\ud83c\udf35 test_values_get 1\",\n          \"index\": 1,\n          \"sheetType\": \"GRID\",\n          \"gridProperties\": {\n            \"rowCount\": 10,\n            \"columnCount\": 10\n          }\n        }\n      }\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 10,
                    "rowCount": 10
                  },
                  "index": 1,
                  "sheetId": 1959985975,
                  "sheetType": "GRID",
                  "title": "\ud83c\udf35 test_values_get 1"
                }
              }
            }
          ],
          "spreadsheetId": "11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-10-18T17:25:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "\ud83c\udf47",
              "\ud83c\udf49",
              "\ud83c\udf4b"
            ],
            [
              "\ud83c\udf50",
              "\ud83c\udf4e",
              "\ud83c\udf53"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI/values/%F0%9F%8C%B5%20test_values_get%201%21A1?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI\",\n  \"updatedRange\": \"'\ud83c\udf35 test_values_get 1'!A1:C2\",\n  \"updatedRows\": 2,\n  \"updatedColumns\": 3,\n  \"updatedCells\": 6\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI",
          "updatedCells": 6,
          "updatedColumns": 3,
          "updatedRange": "'\ud83c\udf35 test_values_get 1'!A1:C2",
          "updatedRows": 2
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/11dGRH0KNbRiLMu7Hd-QYa_hCMIARsrDK3lIWSzWm4wI/values/%F0%9F%8C%B5%20test_values_get%201%21A1?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2018-10-18T17:26:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
      [...]
    {
      "recorded_at": "2018-10-18T17:26:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1jOLc31Ndd0n4mU34VU1vTtHiTs7oZLCGJSr0Oa6ZdUY/values/%F0%9F%8C%B5%20test_values_get%201"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"'\ud83c\udf35 test_values_get 1'!A1:J10\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"\ud83c\udf47\",\n      \"\ud83c\udf49\",\n      \"\ud83c\udf4b\"\n    ],\n    [\n      \"\ud83c\udf50\",\n      \"\ud83c\udf4e\",\n      \"\ud83c\udf53\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "'\ud83c\udf35 test_values_get 1'!A1:J10",
          "values": [
            [
              "\ud83c\udf47",
              "\ud83c\udf49",
              "\ud83c\udf4b"
            ],
            [
              "\ud83c\udf50",
              "\ud83c\udf4e",
              "\ud83c\udf53"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1jOLc31Ndd0n4mU34VU1vTtHiTs7oZLCGJSr0Oa6ZdUY/values/%F0%9F%8C%B5%20test_values_get%201"
      }
    },
    {
      "recorded_at": "2018-10-18T17:26:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 109032874}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 109032874
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1jOLc31Ndd0n4mU34VU1vTtHiTs7oZLCGJSr0Oa6ZdUY:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1jOLc31Ndd0n4mU34VU1vTtHiTs7oZLCGJSr0Oa6ZdUY\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1jOLc31Ndd0n4mU34VU1vTtHiTs7oZLCGJSr0Oa6ZdUY"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1jOLc31Ndd0n4mU34VU1vTtHiTs7oZLCGJSr0Oa6ZdUY:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-10-18T17:27:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"sheetType\": \"GRID\", \"gridProperties\": {\"columnCount\": 10, \"rowCount\": 10}, \"title\": \"\\ud83c\\udf35 test_values_get 1\"}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
   [...]
    {
      "recorded_at": "2018-10-18T17:28:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"sheetType\": \"GRID\", \"gridProperties\": {\"columnCount\": 10, \"rowCount\": 10}, \"title\": \"\\ud83c\\udf35 test_values_get 1\"}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
   [...]
    {
      "recorded_at": "2018-10-18T17:29:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"sheetType\": \"GRID\", \"gridProperties\": {\"columnCount\": 10, \"rowCount\": 10}, \"title\": \"\\ud83c\\udf35 test_values_get 1\"}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
   [...]
    {
      "recorded_at": "2020-02-15T18:17:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
      [...]
    {
      "recorded_at": "2020-02-15T18:17:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1-Ja6lq2ef2cyvjzn8kMLdHyRm5oOS75w88sTHA6lwI4/values/%F0%9F%8C%B5%20test_values_get%201"
      },
      "response": {
        "body": {
          "encodi[...]
    {
      "recorded_at": "2020-02-15T18:17:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1931787567}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1931787567
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1-Ja6lq2ef2cyvjzn8kMLdHyRm5oOS75w88sTHA6lwI4:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1-Ja6lq2ef2cyvjzn8kMLdHyRm5oOS75w88sTHA6lwI4\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1-Ja6lq2ef2cyvjzn8kMLdHyRm5oOS75w88sTHA6lwI4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1-Ja6lq2ef2cyvjzn8kMLdHyRm5oOS75w88sTHA6lwI4:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-15T18:50:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
      [...]
    {
      "recorded_at": "2020-02-15T18:50:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sKkJEx3ua-_X5XEUPP2sFJx6sVBOLyoPSlp_UQTY_Ew/values/%F0%9F%8C%B5%20test_values_get%201"
      },
      "response": {
        "body": {
          "encodi[...]
    {
      "recorded_at": "2020-02-15T18:50:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1924714935}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1924714935
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sKkJEx3ua-_X5XEUPP2sFJx6sVBOLyoPSlp_UQTY_Ew:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1sKkJEx3ua-_X5XEUPP2sFJx6sVBOLyoPSlp_UQTY_Ew\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1sKkJEx3ua-_X5XEUPP2sFJx6sVBOLyoPSlp_UQTY_Ew"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sKkJEx3ua-_X5XEUPP2sFJx6sVBOLyoPSlp_UQTY_Ew:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T13:19:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
      [...]
    {
      "recorded_at": "2020-02-17T13:19:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1bAfMoMh-JMruFCWRbhT8xAZ5unLlPXJ5lJXseb8KZvQ/values/%F0%9F%8C%B5%20test_values_get%201"
      },
      "response": {
        "body": {
          "encodi[...]
    {
      "recorded_at": "2020-02-17T13:19:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 671751600}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 671751600
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1bAfMoMh-JMruFCWRbhT8xAZ5unLlPXJ5lJXseb8KZvQ:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1bAfMoMh-JMruFCWRbhT8xAZ5unLlPXJ5lJXseb8KZvQ\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1bAfMoMh-JMruFCWRbhT8xAZ5unLlPXJ5lJXseb8KZvQ"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1bAfMoMh-JMruFCWRbhT8xAZ5unLlPXJ5lJXseb8KZvQ:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T18:13:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1Q-j7RHrz9b_elDNjwS0wXzAG16Bq9mT7qg55e3dyxR8\",\n   \"name\": \"Test SpreadsheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"12NoVuKnh9Qp9hChg_Yomvado8VBWG9UD-eCZi95ILqQ\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1gioqW7yDRv7uPlKW4NX42K4BW6yaEFSdUAsmWDDf2U4\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": [...]
    {
      "recorded_at": "2020-02-17T18:13:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
      [...]
    {
      "recorded_at": "2020-02-17T18:13:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1Q-j7RHrz9b_elDNjwS0wXzAG16Bq9mT7qg55e3dyxR8/values/%F0%9F%8C%B5%20test_values_get%201"
      },
      "response": {
        "body": {
          "encodi[...]
    {
      "recorded_at": "2020-02-17T18:13:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 193907426}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 193907426
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1Q-j7RHrz9b_elDNjwS0wXzAG16Bq9mT7qg55e3dyxR8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1Q-j7RHrz9b_elDNjwS0wXzAG16Bq9mT7qg55e3dyxR8\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1Q-j7RHrz9b_elDNjwS0wXzAG16Bq9mT7qg55e3dyxR8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1Q-j7RHrz9b_elDNjwS0wXzAG16Bq9mT7qg55e3dyxR8:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}