{
  "http_interactions": [
    {
      "recorded_at": "2019-11-09T04:27:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI\",\n   \"name\": \"Test SpreadsheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1A6b6Ps6uslJ1I4SeuaDqb9k_OnygQKSaSkgYAPl-GKU\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1nkrznZsflHIt9KpMfugYBj-yznKx3diWbLhIDi7wmGA\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": [...]
    {
      "recorded_at": "2019-11-09T04:27:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "\ud83c\udf47",
              "\ud83c\udf49",
              "\ud83c\udf4b"
            ],
            [
              "\ud83c\udf50",
              "\ud83c\udf4e",
              "\ud83c\udf53"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI/values/%F0%9F%8C%B5%20test_values_batch_get%201%21A1?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI\",\n  \"updatedRange\": \"'\ud83c\udf35 test_values_batch_get 1'!A1:C2\",\n  \"updatedRows\": 2,\n  \"updatedColumns\": 3,\n  \"updatedCells\": 6\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI",
          "updatedCells": 6,
          "updatedColumns": 3,
          "updatedRange": "'\ud83c\udf35 test_values_batch_get 1'!A1:C2",
          "updatedRows": 2
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI/values/%F0%9F%8C%B5%20test_values_batch_get%201%21A1?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2019-11-09T04:27:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI/values:batchGet?ranges=%F0%9F%8C%B5+test_values_batch_get+1%21A%3AA&ranges=%F0%9F%8C%B5+test_values_batch_get+1%21B%3AB&ranges=%F0%9F%8C%B5+test_values_batch_get+1%21C%3AC"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI\",\n  \"valueRanges\": [\n    {\n      \"range\": \"'\ud83c\udf35 test_values_batch_get 1'!A1:A10\",\n      \"majorDimension\": \"ROWS\",\n      \"values\": [\n        [\n          \"\ud83c\udf47\"\n        ],\n        [\n          \"\ud83c\udf50\"\n        ]\n      ]\n    },\n    {\n      \"range\": \"'\ud83c\udf35 test_values_batch_get 1'!B1:B10\",\n      \"majorDimension\": \"ROWS\",\n      \"values\": [\n        [\n          \"\ud83c\udf49\"\n        ],\n        [\n          \"\ud83c\udf4e\"\n        ]\n      ]\n    },\n    {\n      \"range\": \"'\ud83c\udf35 test_values_batch_get 1'!C1:C10\",\n      \"majorDimensio[...]
    {
      "recorded_at": "2019-11-09T04:27:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1259095174}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1259095174
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1DRq2FvckqRKrkjo19gPTnWWPKmktyl4Z_3kDB7JQhtI:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}