{
  "http_interactions": [
    {
      "recorded_at": "2020-04-03T19:34:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+SpreadsheetTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo\",\n   \"name\": \"Test SpreadsheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test SpreadsheetTest"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+SpreadsheetTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      }
    },
    {
      "recorded_at": "2020-04-03T19:34:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"\\ud83c\\udf47\", \"\\ud83c\\udf49\", \"\\ud83c\\udf4b\"], [\"\\ud83c\\udf50\", \"\\ud83c\\udf4e\", \"\\ud83c\\udf53\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "\ud83c\udf47",
              "\ud83c\udf49",
              "\ud83c\udf4b"
            ],
            [
              "\ud83c\udf50",
              "\ud83c\udf4e",
              "\ud83c\udf53"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo/values/%F0%9F%8C%B5%20test_values_get%201%21A1?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo\",\n  \"updatedRange\": \"'\ud83c\udf35 test_values_get 1'!A1:C2\",\n  \"updatedRows\": 2,\n  \"updatedColumns\": 3,\n  \"updatedCells\": 6\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo",
          "updatedCells": 6,
          "updatedColumns": 3,
          "updatedRange": "'\ud83c\udf35 test_values_get 1'!A1:C2",
          "updatedRows": 2
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo/values/%F0%9F%8C%B5%20test_values_get%201%21A1?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2020-04-03T19:34:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo/values/%F0%9F%8C%B5%20test_values_get%201"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"'\ud83c\udf35 test_values_get 1'!A1:J10\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"\ud83c\udf47\",\n      \"\ud83c\udf49\",\n      \"\ud83c\udf4b\"\n    ],\n    [\n      \"\ud83c\udf50\",\n      \"\ud83c\udf4e\",\n      \"\ud83c\udf53\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "'\ud83c\udf35 test_values_get 1'!A1:J10",
          "values": [
            [
              "\ud83c\udf47",
              "\ud83c\udf49",
              "\ud83c\udf4b"
            ],
            [
              "\ud83c\udf50",
              "\ud83c\udf4e",
              "\ud83c\udf53"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo/values/%F0%9F%8C%B5%20test_values_get%201"
      }
    },
    {
      "recorded_at": "2020-04-03T19:34:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 865630489}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 865630489
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}