{
  "http_interactions": [
    {
      "recorded_at": "2020-04-03T19:34:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+SpreadsheetTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo\",\n   \"name\": \"Test SpreadsheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1NgMavkRy5XWIIbh670-7eaNy_vrltd3vnWvcDT1cSIo",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test SpreadsheetTest"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+SpreadsheetTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}