{
  "http_interactions": [
    {
      "recorded_at": "2018-10-08T20:16:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"title\": \"wksht_test\", \"sheetType\": \"GRID\", \"gridProperties\": {\"rowCount\": 20, \"columnCount\": 20}}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"sheetId\": 1982605686,\n          \"title\": \"wksht_test\",\n          \"index\": 1,\n          \"sheetType\": \"GRID\",\n          \"gridProperties\": {\n            \"rowCount\": 20,\n            \"columnCount\": 20\n          }\n        }\n      }\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "index": 1,
                  "sheetId": 1982605686,
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-10-08T20:16:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row 1\", \"test_append_row 2\", \"test_append_row 3\", \"test_append_row 4\", \"test_append_row 5\", \"test_append_row 6\", \"test_append_row 7\", \"test_append_row 8\", \"test_append_row 9\", \"test_append_row 10\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "test_append_row 1",
              "test_append_row 2",
              "test_append_row 3",
              "test_append_row 4",
              "test_append_row 5",
              "test_append_row 6",
              "test_append_row 7",
              "test_append_row 8",
              "test_append_row 9",
              "test_append_row 10"
            ]
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test:append?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"updates\": {\n    \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n    \"updatedRange\": \"wksht_test!A1:J1\",\n    \"updatedRows\": 1,\n    \"updatedColumns\": 10,\n    \"updatedCells\": 10\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8",
          "updates": {
            "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8",
            "updatedCells": 10,
            "updatedColumns": 10,
            "updatedRange": "wksht_test!A1:J1",
            "updatedRows": 1
          }
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test:append?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2018-10-08T20:16:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:T1\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"test_append_row 1\",\n      \"test_append_row 2\",\n      \"test_append_row 3\",\n      \"test_append_row 4\",\n      \"test_append_row 5\",\n      \"test_append_row 6\",\n      \"test_append_row 7\",\n      \"test_append_row 8\",\n      \"test_append_row 9\",\n      \"test_append_row 10\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:T1",
          "values": [
            [
              "test_append_row 1",
              "test_append_row 2",
              "test_append_row 3",
              "test_append_row 4",
              "test_append_row 5",
              "test_append_row 6",
              "test_append_row 7",
              "test_append_row 8",
              "test_append_row 9",
              "test_append_row 10"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2018-10-08T20:16:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1982605686}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1982605686
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-15T18:17:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row 1\", \"test_append_row 2\", \"test_append_row 3\", \"test_append_row 4\", \"test_append_row 5\", \"test_append_row 6\", \"test_append_row 7\", \"test_append_row 8\", \"test_append_row 9\", \"test_append_row 10\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
  [...]
    {
      "recorded_at": "2020-02-15T18:17:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-15T18:17:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 546369745}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 546369745
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-15T18:50:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row 1\", \"test_append_row 2\", \"test_append_row 3\", \"test_append_row 4\", \"test_append_row 5\", \"test_append_row 6\", \"test_append_row 7\", \"test_append_row 8\", \"test_append_row 9\", \"test_append_row 10\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
  [...]
    {
      "recorded_at": "2020-02-15T18:50:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-15T18:50:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1847660299}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1847660299
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T11:34:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row 1\", \"test_append_row 2\", \"test_append_row 3\", \"test_append_row 4\", \"test_append_row 5\", \"test_append_row 6\", \"test_append_row 7\", \"test_append_row 8\", \"test_append_row 9\", \"test_append_row 10\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
  [...]
    {
      "recorded_at": "2020-02-17T11:34:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1srTLbKtsg85RvxbOm7UPM6xz7Wt1FTHLqutagm6NcqE/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T11:34:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1408904952}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1408904952
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1srTLbKtsg85RvxbOm7UPM6xz7Wt1FTHLqutagm6NcqE:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1srTLbKtsg85RvxbOm7UPM6xz7Wt1FTHLqutagm6NcqE\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1srTLbKtsg85RvxbOm7UPM6xz7Wt1FTHLqutagm6NcqE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1srTLbKtsg85RvxbOm7UPM6xz7Wt1FTHLqutagm6NcqE:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T13:20:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row 1\", \"test_append_row 2\", \"test_append_row 3\", \"test_append_row 4\", \"test_append_row 5\", \"test_append_row 6\", \"test_append_row 7\", \"test_append_row 8\", \"test_append_row 9\", \"test_append_row 10\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
  [...]
    {
      "recorded_at": "2020-02-17T13:20:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T13:20:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1269058860}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1269058860
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T18:13:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"12NoVuKnh9Qp9hChg_Yomvado8VBWG9UD-eCZi95ILqQ\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1gioqW7yDRv7uPlKW4NX42K4BW6yaEFSdUAsmWDDf2U4\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": [...]
    {
      "recorded_at": "2020-02-17T18:13:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row 1\", \"test_append_row 2\", \"test_append_row 3\", \"test_append_row 4\", \"test_append_row 5\", \"test_append_row 6\", \"test_append_row 7\", \"test_append_row 8\", \"test_append_row 9\", \"test_append_row 10\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
  [...]
    {
      "recorded_at": "2020-02-17T18:13:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E/values/wksht_test%21A1%3A1?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T18:13:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 977249878}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 977249878
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}