{
  "http_interactions": [
    {
      "recorded_at": "2020-03-09T17:40:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "A1",
              "B1",
              "",
              "D1"
            ],
            [
              "",
              "b2",
              "",
              ""
            ],
            [
              "",
              "",
              "",
              ""
            ],
            [
              "A4",
              "B4",
              "",
              "D4"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0/values/wksht_test%21A1?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0\",\n  \"updatedRange\": \"wksht_test!A1:D4\",\n  \"updatedRows\": 4,\n  \"updatedColumns\": 4,\n  \"updatedCells\": 16\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0",
          "updatedCells": 16,
          "updatedColumns": 4,
          "updatedRange": "wksht_test!A1:D4",
          "updatedRows": 4
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0/values/wksht_test%21A1?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2020-03-09T17:40:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:D4\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"A1\",\n      \"B1\",\n      \"\",\n      \"D1\"\n    ],\n    [\n      \"\",\n      \"b2\"\n    ],\n    [],\n    [\n      \"A4\",\n      \"B4\",\n      \"\",\n      \"D4\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:D4",
          "values": [
            [
              "A1",
              "B1",
              "",
              "D1"
            ],
            [
              "",
              "b2"
            ],
            [],
            [
              "A4",
              "B4",
              "",
              "D4"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0/values/wksht_test%21A1%3AD4"
      }
    },
    {
      "recorded_at": "2020-03-09T17:40:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 376276455}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 376276455
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1fFLv-RQNyuu5dhn-3hYra2FBiaiTdc6QlhkC7qa0Ht0:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-03-09T17:42:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "v[...]
    {
      "recorded_at": "2020-03-09T17:42:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1cBn8DiUEYcN4cub7IbBTZDVALu6Ja7yNSRSAEVqkZzM/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
[...]
    {
      "recorded_at": "2020-03-09T17:42:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 54701606}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 54701606
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1cBn8DiUEYcN4cub7IbBTZDVALu6Ja7yNSRSAEVqkZzM:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1cBn8DiUEYcN4cub7IbBTZDVALu6Ja7yNSRSAEVqkZzM\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1cBn8DiUEYcN4cub7IbBTZDVALu6Ja7yNSRSAEVqkZzM"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1cBn8DiUEYcN4cub7IbBTZDVALu6Ja7yNSRSAEVqkZzM:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-03-09T17:43:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "v[...]
    {
      "recorded_at": "2020-03-09T17:43:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1lQYBaBbzJVAGUTu5WK8Rx4BqsfiQ6idNaEHF0q0qmcY/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
[...]
    {
      "recorded_at": "2020-03-09T17:43:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1977127809}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1977127809
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1lQYBaBbzJVAGUTu5WK8Rx4BqsfiQ6idNaEHF0q0qmcY:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1lQYBaBbzJVAGUTu5WK8Rx4BqsfiQ6idNaEHF0q0qmcY\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1lQYBaBbzJVAGUTu5WK8Rx4BqsfiQ6idNaEHF0q0qmcY"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1lQYBaBbzJVAGUTu5WK8Rx4BqsfiQ6idNaEHF0q0qmcY:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-03-09T17:52:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1FBfZeXPPkKPKn2KDUCi_-MbkbRzqXfoLHtoBdzvMizA\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1nwadmNfz141TVp4BoMPABZreUh9OZOfXDAcK4JmACtA\",\n   \"name\": \"test-notation\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"12NoVuKnh9Qp9hChg_Yomvado8VBWG9UD-eCZi95ILqQ\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1[...]
    {
      "recorded_at": "2020-03-09T17:52:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "v[...]
    {
      "recorded_at": "2020-03-09T17:52:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1FBfZeXPPkKPKn2KDUCi_-MbkbRzqXfoLHtoBdzvMizA/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
[...]
    {
      "recorded_at": "2020-03-09T17:52:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1579401380}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1579401380
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1FBfZeXPPkKPKn2KDUCi_-MbkbRzqXfoLHtoBdzvMizA:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1FBfZeXPPkKPKn2KDUCi_-MbkbRzqXfoLHtoBdzvMizA\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1FBfZeXPPkKPKn2KDUCi_-MbkbRzqXfoLHtoBdzvMizA"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1FBfZeXPPkKPKn2KDUCi_-MbkbRzqXfoLHtoBdzvMizA:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}