{
  "http_interactions": [
    {
      "recorded_at": "2018-10-08T20:17:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"11A_X9wnyxVwt1o6iSrc8Px0AfeGqFBRyA_styQEkCSE\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test WorksheetTest"
            },
            {
              "id": "11A_X9wnyxVwt1o6iSrc8Px0AfeGqFBRyA_styQEkCSE",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test Spreadsheet"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"title\": \"wksht_test\", \"sheetType\": \"GRID\", \"gridProperties\": {\"rowCount\": 20, \"columnCount\": 20}}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"sheetId\": 160543492,\n          \"title\": \"wksht_test\",\n          \"index\": 1,\n          \"sheetType\": \"GRID\",\n          \"gridProperties\": {\n            \"rowCount\": 20,\n            \"columnCount\": 20\n          }\n        }\n      }\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "index": 1,
                  "sheetId": 160543492,
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3AD6"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:D6\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:D6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3AD6"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_insert_row 1\", \"test_insert_row 2\", \"test_insert_row 3\", \"test_insert_row 4\"], [\"test_insert_row 5\", \"test_insert_row 6\", \"test_insert_row 7\", \"test_insert_row 8\"], [\"test_insert_row 9\", \"test_insert_row 10\", \"test_insert_row 11\", \"test_insert_row 12\"], [\"test_insert_row 13\", \"test_insert_row 14\", \"test_insert_row 15\", \"test_insert_row 16\"], [\"test_insert_row 17\", \"test_insert_row 18\", \"test_insert_row 19\", \"test_insert_row 20\"], [\"test_insert_ro[...]
    {
      "recorded_at": "2018-10-08T20:17:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"insertDimension\": {\"range\": {\"sheetId\": 160543492, \"dimension\": \"ROWS\", \"startIndex\": 1, \"endIndex\": 2}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "insertDimension": {
                "range": {
                  "dimension": "ROWS",
                  "endIndex": 2,
                  "sheetId": 160543492,
                  "startIndex": 1
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_insert_row 25\", \"test_insert_row 26\", \"test_insert_row 27\", \"test_insert_row 28\", \"test_insert_row 29\", \"test_insert_row 30\", \"test_insert_row 31\", \"test_insert_row 32\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "test_insert_row 25",
              "test_insert_row 26",
              "test_insert_row 27",
              "test_insert_row 28",
              "test_insert_row 29",
              "test_insert_row 30",
              "test_insert_row 31",
              "test_insert_row 32"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A2?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"updatedRange\": \"wksht_test!A2:H2\",\n  \"updatedRows\": 1,\n  \"updatedColumns\": 8,\n  \"updatedCells\": 8\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8",
          "updatedCells": 8,
          "updatedColumns": 8,
          "updatedRange": "wksht_test!A2:H2",
          "updatedRows": 1
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A2?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2018-10-08T20:17:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"=1+1\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "=1+1"
            ]
          ]
        },
        "method": "PUT",[...]
[...]
    {
      "recorded_at": "2018-10-08T20:17:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21B3?valueRenderOption=FORMULA"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!B3\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"=1+1\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!B3",
          "values": [
            [
              "=1+1"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21B3?valueRenderOption=FORMULA"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 160543492}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 160543492
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}