{
  "http_interactions": [
    {
      "recorded_at": "2020-03-25T16:44:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+WorksheetTest%22&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"19BlScYdZNWd-L5gITpjkZUpOajl4LFJkwvzeibI2JJs\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test WorksheetTest"
            },
            {
              "id": "19BlScYdZNWd-L5gITpjkZUpOajl4LFJkwvzeibI2JJs",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test WorksheetTest"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+WorksheetTest%22&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      }
    },
    {
      "recorded_at": "2020-03-25T16:44:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"title\": \"wksht_test\", \"sheetType\": \"GRID\", \"gridProperties\": {\"rowCount\": 20, \"columnCount\": 20}}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE\",\n  \"replies\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"sheetId\": 1556133595,\n          \"title\": \"wksht_test\",\n          \"index\": 1,\n          \"sheetType\": \"GRID\",\n          \"gridProperties\": {\n            \"rowCount\": 20,\n            \"columnCount\": 20\n          }\n        }\n      }\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "index": 1,
                  "sheetId": 1556133595,
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ],
          "spreadsheetId": "1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-03-25T16:44:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE/values/wksht_test%21A1%3AA10"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:A10\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:A10"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE/values/wksht_test%21A1%3AA10"
      }
    },
    {
      "recorded_at": "2020-03-25T16:44:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"], [\"test_findall 1\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ],
            [
              "test_findall 1"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE/values/wksht_test%21A1%3AA10?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE\",\n  \"updatedRange\": \"wksht_test!A1:A10\",\n  \"updatedRows\": 10,\n  \"updatedColumns\": 1,\n  \"updatedCells\": 10\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE",
          "updatedCells": 10,
          "updatedColumns": 1,
          "updatedRange": "wksht_test!A1:A10",
          "updatedRows": 10
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE/values/wksht_test%21A1%3AA10?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2020-03-25T16:44:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
[...]
    {
      "recorded_at": "2020-03-25T16:44:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1556133595}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1556133595
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sCYg-HCMaBc-SQuYKGsPyNtxaSxVMEtxCR0kx3ocuEE:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}