{
  "http_interactions": [
    {
      "recorded_at": "2020-02-17T12:10:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "test_append_row_with_empty_value_and_table_range 1",
              "",
              "test_append_row_with_empty_value_and_table_range 3"
            ]
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo/values/wksht_test:append?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo\",\n  \"updates\": {\n    \"spreadsheetId\": \"1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo\",\n    \"updatedRange\": \"wksht_test!A1:C1\",\n    \"updatedRows\": 1,\n    \"updatedColumns\": 3,\n    \"updatedCells\": 3\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo",
          "updates": {
            "spreadsheetId": "1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo",
            "updatedCells": 3,
            "updatedColumns": 3,
            "updatedRange": "wksht_test!A1:C1",
            "updatedRows": 1
          }
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo/values/wksht_test:append?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2020-02-17T12:10:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "test_append_row_with_empty_value_and_table_range 1",
              "",
              "test_append_row_with_empty_value_and_table_range 3"
            ]
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo/values/wksht_test%21A1:append?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo\",\n  \"tableRange\": \"wksht_test!A1\",\n  \"updates\": {\n    \"spreadsheetId\": \"1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo\",\n    \"updatedRange\": \"wksht_test!A2:C2\",\n    \"updatedRows\": 1,\n    \"updatedColumns\": 3,\n    \"updatedCells\": 3\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo",
          "tableRange": "wksht_test!A1",
          "updates": {
            "spreadsheetId": "1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo",
            "updatedCells": 3,
            "updatedColumns": 3,
            "updatedRange": "wksht_test!A2:C2",
            "updatedRows": 1
          }
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo/values/wksht_test%21A1:append?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2020-02-17T12:10:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A2:T2\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"test_append_row_with_empty_value_and_table_range 1\",\n      \"\",\n      \"test_append_row_with_empty_value_and_table_range 3\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A2:T2",
          "values": [
            [
              "test_append_row_with_empty_value_and_table_range 1",
              "",
              "test_append_row_with_empty_value_and_table_range 3"
            ]
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      }
    },
    {
      "recorded_at": "2020-02-17T12:10:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1334011119}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1334011119
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1p3lE9-WduJeFTvQ9y9ZjP4bxiVX7UhEJ1u3x_ElMJPo:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T12:10:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T12:11:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T12:11:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1uUt4BEguP-0H15f4OXfDP8eC8TtiQYo4VKiSABWdWzE/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T12:11:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 277410034}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 277410034
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1uUt4BEguP-0H15f4OXfDP8eC8TtiQYo4VKiSABWdWzE:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1uUt4BEguP-0H15f4OXfDP8eC8TtiQYo4VKiSABWdWzE\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1uUt4BEguP-0H15f4OXfDP8eC8TtiQYo4VKiSABWdWzE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1uUt4BEguP-0H15f4OXfDP8eC8TtiQYo4VKiSABWdWzE:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T13:17:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T13:17:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T13:17:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1yuf8y-sAXkyDoB3z_8zrjZpYhQzt0Hp2YHSBfPhZ5Y8/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T13:17:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 674831186}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 674831186
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1yuf8y-sAXkyDoB3z_8zrjZpYhQzt0Hp2YHSBfPhZ5Y8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1yuf8y-sAXkyDoB3z_8zrjZpYhQzt0Hp2YHSBfPhZ5Y8\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1yuf8y-sAXkyDoB3z_8zrjZpYhQzt0Hp2YHSBfPhZ5Y8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1yuf8y-sAXkyDoB3z_8zrjZpYhQzt0Hp2YHSBfPhZ5Y8:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T13:20:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T13:20:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T13:20:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T13:20:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 2100562720}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 2100562720
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T18:13:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"12NoVuKnh9Qp9hChg_Yomvado8VBWG9UD-eCZi95ILqQ\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1gioqW7yDRv7uPlKW4NX42K4BW6yaEFSdUAsmWDDf2U4\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": [...]
    {
      "recorded_at": "2020-02-17T18:13:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T18:13:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_append_row_with_empty_value_and_table_range 1\", \"\", \"test_append_row_with_empty_value_and_table_range 3\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          [...]
    {
      "recorded_at": "2020-02-17T18:13:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E/values/wksht_test%21A2%3A2?valueRenderOption=FORMATTED_VALUE"
      },
      "response": {
        "body": [...]
    {
      "recorded_at": "2020-02-17T18:13:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 55756985}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 55756985
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}