{
  "http_interactions": [
    {
      "recorded_at": "2018-12-22T13:47:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1_rQp4EQKswCD1YWruczXg81qh4iSGiMmtN5Z5z5_cnk\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1kRORFVRsOrT0-gpNmW_CfUZQf-nKGG6OYZ46x3pZ7Ss\",\n   \"name\": \"Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1cfQFDCB_bsn2g4w2eUi7gaJNCeUjOo3iBA_Ir9qcr38\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"11Dvl_Xb8ilSB0QkzV4Ys5o8ls5tRk1_wFIcCftooRHM\",\n   \"name\": \"Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test WorksheetTest"
            },
            {
              "id": "1_rQp4EQKswCD1YWruczXg81qh4iSGiMmtN5Z5z5_cnk",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Copy of Original"
            },
            {
              "id": "1kRORFVRsOrT0-gpNmW_CfUZQf-nKGG6OYZ46x3pZ7Ss",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Original"
            },
            {
              "id": "1cfQFDCB_bsn2g4w2eUi7gaJNCeUjOo3iBA_Ir9qcr38",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Copy of Original"
            },
            {
              "id": "11Dvl_Xb8ilSB0QkzV4Ys5o8ls5tRk1_wFIcCftooRHM",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Original"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      }
    },
    {
      "recorded_at": "2018-12-22T13:47:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"title\": \"wksht_test\", \"sheetType\": \"GRID\", \"gridProperties\": {\"rowCount\": 20, \"columnCount\": 20}}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI\",\n  \"replies\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"sheetId\": 2072667965,\n          \"title\": \"wksht_test\",\n          \"index\": 1,\n          \"sheetType\": \"GRID\",\n          \"gridProperties\": {\n            \"rowCount\": 20,\n            \"columnCount\": 20\n          }\n        }\n      }\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "index": 1,
                  "sheetId": 2072667965,
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ],
          "spreadsheetId": "1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-12-22T13:47:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"updateSheetProperties\": {\"properties\": {\"sheetId\": 2072667965, \"gridProperties\": {\"rowCount\": 6, \"columnCount\": 3}}, \"fields\": \"gridProperties/rowCount,gridProperties/columnCount\"}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "updateSheetProperties": {
                "fields": "gridProperties/rowCount,gridProperties/columnCount",
                "properties": {
                  "gridProperties[...]
    {
      "recorded_at": "2018-12-22T13:47:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI/values/wksht_test%21A1%3AC6"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:C6\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:C6"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI/values/wksht_test%21A1%3AC6"
      }
    },
    {
      "recorded_at": "2018-12-22T13:47:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"Apple\", \"2012\", \"4\"], [\"Banana\", \"2013\", \"3\"], [\"Canada\", \"2007\", \"1\"], [\"Dinosaur\", \"2013\", \"6\"], [\"Elephant\", \"2019\", \"2\"], [\"Fox\", \"2077\", \"5\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "Apple",
              "2012",
              "4"
            ],
            [
              "Banana",
              "2013",
              "3"
            ],
            [
              "Canada",
              "2007",
              "1"
            ],
            [
              "Dinosaur",
              "2013",
              "6"
            ],
            [
              "Elephant",
              "2019",
              "2"
            ],
            [
              "Fox",
              "2077",
              "5"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI/values/wksht_test%21A1%3AC6?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI\",\n  \"updatedRange\": \"wksht_test!A1:C6\",\n  \"updatedRows\": 6,\n  \"updatedColumns\": 3,\n  \"updatedCells\": 18\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI",
          "updatedCells": 18,
          "updatedColumns": 3,
          "updatedRange": "wksht_test!A1:C6",
          "updatedRows": 6
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI/values/wksht_test%21A1%3AC6?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2018-12-22T13:47:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"sortRange\": {\"range\": {\"sheetId\": 2072667965, \"startRowIndex\": 0, \"endRowIndex\": 6, \"startColumnIndex\": 0, \"endColumnIndex\": 3}, \"sortSpecs\": [{\"dimensionIndex\": 2, \"sortOrder\": \"ASCENDING\"}]}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "sortRange": {
                "range": {
                  "endColumnIndex": 3,
                  "endRowIndex": 6,
                  "sheetId": 2072667965,
                  "startColumnIndex": 0,
            [...]
    {
      "recorded_at": "2018-12-22T13:47:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
[...]
    {
      "recorded_at": "2018-12-22T13:47:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 2072667965}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 2072667965
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1y0_g2yqeiRdL0Whvk0ZTsdgdjVWeaFyAnBlWPeS34yI:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}