{
  "http_interactions": [
    {
      "recorded_at": "2020-03-09T17:53:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "A1",
              "B1",
              "",
              "D1"
            ],
            [
              "",
              "b2",
              "",
              ""
            ],
            [
              "",
              "",
              "",
              ""
            ],
            [
              "A4",
              "B4",
              "",
              "D4"
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU/values/wksht_test%21A1?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU\",\n  \"updatedRange\": \"wksht_test!A1:D4\",\n  \"updatedRows\": 4,\n  \"updatedColumns\": 4,\n  \"updatedCells\": 16\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU",
          "updatedCells": 16,
          "updatedColumns": 4,
          "updatedRange": "wksht_test!A1:D4",
          "updatedRows": 4
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU/values/wksht_test%21A1?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2020-03-09T17:53:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU/values:batchGet?ranges=wksht_test%21A1%3AB1&ranges=wksht_test%21B4%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU\",\n  \"valueRanges\": [\n    {\n      \"range\": \"wksht_test!A1:B1\",\n      \"majorDimension\": \"ROWS\",\n      \"values\": [\n        [\n          \"A1\",\n          \"B1\"\n        ]\n      ]\n    },\n    {\n      \"range\": \"wksht_test!B4:D4\",\n      \"majorDimension\": \"ROWS\",\n      \"values\": [\n        [\n          \"B4\",\n          \"\",\n          \"D4\"\n        ]\n      ]\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU",
          "valueRanges": [
            {
              "majorDimension": "ROWS",
              "range": "wksht_test!A1:B1",
              "values": [
                [
                  "A1",
                  "B1"
                ]
              ]
            },
            {
              "majorDimension": "ROWS",
              "range": "wksht_test!B4:D4",
              "values": [
                [
                  "B4",
                  "",
                  "D4"
                ]
              ]
            }
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU/values:batchGet?ranges=wksht_test%21A1%3AB1&ranges=wksht_test%21B4%3AD4"
      }
    },
    {
      "recorded_at": "2020-03-09T17:53:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 936567113}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 936567113
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1ptXwMWcmPWB6pY63sV-z_HrvIkVBrTix9FAtsxne5gU:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-03-09T17:53:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "v[...]
    {
      "recorded_at": "2020-03-09T17:53:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/13-utKc8sdIsJldAikU7l6tgR68cbdktfoC8trnrWWhs/values:batchGet?ranges=wksht_test%21A1%3AB1&ranges=wksht_test%21B4%3AD4"
      },
      "response": {
     [...]
    {
      "recorded_at": "2020-03-09T17:53:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1727514619}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1727514619
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/13-utKc8sdIsJldAikU7l6tgR68cbdktfoC8trnrWWhs:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"13-utKc8sdIsJldAikU7l6tgR68cbdktfoC8trnrWWhs\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "13-utKc8sdIsJldAikU7l6tgR68cbdktfoC8trnrWWhs"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/13-utKc8sdIsJldAikU7l6tgR68cbdktfoC8trnrWWhs:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-03-11T13:54:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1G3nmZlAyzfCWQuF1IYMLAfdTKz8P1A7rIZaitQhrhVc\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1nwadmNfz141TVp4BoMPABZreUh9OZOfXDAcK4JmACtA\",\n   \"name\": \"test-notation\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"12NoVuKnh9Qp9hChg_Yomvado8VBWG9UD-eCZi95ILqQ\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1[...]
    {
      "recorded_at": "2020-03-11T13:54:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [\"\", \"b2\", \"\", \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", \"B4\", \"\", \"D4\"]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "v[...]
    {
      "recorded_at": "2020-03-11T13:54:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1G3nmZlAyzfCWQuF1IYMLAfdTKz8P1A7rIZaitQhrhVc/values:batchGet?ranges=wksht_test%21A1%3AB1&ranges=wksht_test%21B4%3AD4"
      },
      "response": {
     [...]
    {
      "recorded_at": "2020-03-11T13:54:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 68592483}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 68592483
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1G3nmZlAyzfCWQuF1IYMLAfdTKz8P1A7rIZaitQhrhVc:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1G3nmZlAyzfCWQuF1IYMLAfdTKz8P1A7rIZaitQhrhVc\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1G3nmZlAyzfCWQuF1IYMLAfdTKz8P1A7rIZaitQhrhVc"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1G3nmZlAyzfCWQuF1IYMLAfdTKz8P1A7rIZaitQhrhVc:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}