{
  "http_interactions": [
    {
      "recorded_at": "2018-10-08T20:17:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"addSheet\": {\"properties\": {\"title\": \"wksht_test\", \"sheetType\": \"GRID\", \"gridProperties\": {\"rowCount\": 20, \"columnCount\": 20}}}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"sheetId\": 1770641659,\n          \"title\": \"wksht_test\",\n          \"index\": 1,\n          \"sheetType\": \"GRID\",\n          \"gridProperties\": {\n            \"rowCount\": 20,\n            \"columnCount\": 20\n          }\n        }\n      }\n    }\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "gridProperties": {
                    "columnCount": 20,
                    "rowCount": 20
                  },
                  "index": 1,
                  "sheetId": 1770641659,
                  "sheetType": "GRID",
                  "title": "wksht_test"
                }
              }
            }
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"updateSheetProperties\": {\"properties\": {\"sheetId\": 1770641659, \"gridProperties\": {\"rowCount\": 4, \"columnCount\": 4}}, \"fields\": \"gridProperties/rowCount,gridProperties/columnCount\"}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "updateSheetProperties": {
                "fields": "gridProperties/rowCount,gridProperties/columnCount",
                "properties": {
                  "gridProperties[...]
    {
      "recorded_at": "2018-10-08T20:17:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3AD4"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [1, \"b2\", 1.45, \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", 0.4, \"\", 4]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
            [
              "A1",
              "B1",
              "",
              "D1"
            ],
            [
              1,
              "b2",
              1.45,
              ""
            ],
            [
              "",
              "",
              "",
              ""
            ],
            [
              "A4",
              0.4,
              "",
              4
            ]
          ]
        },
        "method": "PUT",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3AD4?valueInputOption=RAW"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"updatedRange\": \"wksht_test!A1:D4\",\n  \"updatedRows\": 4,\n  \"updatedColumns\": 4,\n  \"updatedCells\": 16\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8",
          "updatedCells": 16,
          "updatedColumns": 4,
          "updatedRange": "wksht_test!A1:D4",
          "updatedRows": 4
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test%21A1%3AD4?valueInputOption=RAW"
      }
    },
    {
      "recorded_at": "2018-10-08T20:17:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
[...]
    {
      "recorded_at": "2018-10-08T20:17:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1770641659}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1770641659
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1V5SPkNpNZ0We5kIdxixa6unVDlEqpzSaGIt2IuFvIt8:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-15T18:17:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"error\": {\n    \"code\": 429,\n    \"message\": \"Quota exceeded for quota group 'ReadGroup' and limit 'Read requests per user per 100 seconds' of service 'sheets.googleapis.com' for consumer 'project_number:933192577840'.\",\n    \"status\": \"RESOURCE_EXHAUSTED\",\n    \"details\": [\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.Help\",\n        \"links\": [\n          {\n            \"description\": \"Google developer console API key\",\n            \"url\": \"https://console.developers.google.com/project/933192577840/apiui/credential\"\n          }\n        ]\n      }\n    ]\n  }\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "error": {
            "code": 429,
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.Help",
                "links": [
                  {
                    "description": "Google developer console API key",
                    "url": "https://console.developers.google.com/project/933192577840/apiui/credential"
                  }
                ]
              }
            ],
            "message": "Quota exceeded for quota group 'ReadGroup' and limit 'Read requests per user per 100 seconds' of service 'sheets.googleapis.com' for consumer 'project_number:933192577840'.",
            "status": "RESOURCE_EXHAUSTED"
          }
        },
        "status": {
          "code": 429,
          "message": "Too Many Requests"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM/values/wksht_test%21A1%3AD4"
      }
    },
    {
      "recorded_at": "2020-02-15T18:17:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1776813126}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1776813126
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1IFaO-8IjWKwECTB5LHXtz-6afnZe7Z6Yfyr_x2J0vEM:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-15T18:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE/values/wksht_test%21A1%3AD4"
      }
    },
    {
      "recorded_at": "2020-02-15T18:51:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [1, \"b2\", 1.45, \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", 0.4, \"\", 4]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
 [...]
    {
      "recorded_at": "2020-02-15T18:51:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
    {
      "recorded_at": "2020-02-15T18:51:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 315912283}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 315912283
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1KMDBWLXY6eLIIEPm0LsSZJg1wcJfZyCbj2xK5ZHS1aE:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T13:20:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4/values/wksht_test%21A1%3AD4"
      }
    },
    {
      "recorded_at": "2020-02-17T13:20:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [1, \"b2\", 1.45, \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", 0.4, \"\", 4]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
 [...]
    {
      "recorded_at": "2020-02-17T13:20:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
    {
      "recorded_at": "2020-02-17T13:20:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 1688274569}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 1688274569
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1H673Ixo9B_nyG65jIzLIAo1w_2sO6vh0PY5kFsfDG_4:batchUpdate"
      }
    },
    {
      "recorded_at": "2020-02-17T18:13:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pageSize=1000&supportsTeamDrives=True&includeTeamDriveItems=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"12NoVuKnh9Qp9hChg_Yomvado8VBWG9UD-eCZi95ILqQ\",\n   \"name\": \"Test Spreadsheet\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1gioqW7yDRv7uPlKW4NX42K4BW6yaEFSdUAsmWDDf2U4\",\n   \"name\": \"Copy of Original\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": [...]
    {
      "recorded_at": "2020-02-17T18:13:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E/values/wksht_test%21A1%3AD4"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:D4\",\n  \"majorDimension\": \"ROWS\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "majorDimension": "ROWS",
          "range": "wksht_test!A1:D4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E/values/wksht_test%21A1%3AD4"
      }
    },
    {
      "recorded_at": "2020-02-17T18:13:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"A1\", \"B1\", \"\", \"D1\"], [1, \"b2\", 1.45, \"\"], [\"\", \"\", \"\", \"\"], [\"A4\", 0.4, \"\", 4]]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "values": [
 [...]
    {
      "recorded_at": "2020-02-17T18:13:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
    {
      "recorded_at": "2020-02-17T18:13:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 753527387}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 753527387
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1TkoUZEsUhnQdOl8gw3ABWkOEbUcrqa_yI0JupdQPQ4E:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}