{
  "http_interactions": [
    {
      "recorded_at": "2020-04-03T19:35:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+WorksheetTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"incompleteSearch\": false,\n \"files\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w\",\n   \"name\": \"Test WorksheetTest\",\n   \"mimeType\": \"application/vnd.google-apps.spreadsheet\"\n  }\n ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "files": [
            {
              "id": "1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w",
              "kind": "drive#file",
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "name": "Test WorksheetTest"
            }
          ],
          "incompleteSearch": false,
          "kind": "drive#fileList"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.googleapis.com/drive/v3/files?q=mimeType%3D%22application%2Fvnd.google-apps.spreadsheet%22+and+name+%3D+%22Test+WorksheetTest%22&pageSize=1000&supportsAllDrives=True&includeItemsFromAllDrives=True"
      }
    },
    {
      "recorded_at": "2020-04-03T19:35:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w/values/wksht_test%21A1%3AA10"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"range\": \"wksht_test!A1:A10\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ],\n    [\n      \"test_findall 1\"\n    ]\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "appl[...]
    {
      "recorded_at": "2020-04-03T19:35:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"values\": [[\"test_findall 1p_Ptest_findall 2\"], [\"test_findall 1j_Jtest_findall 2\"], [\"test_findall 1m_Mtest_findall 2\"], [\"test_findall 1i_Itest_findall 2\"], [\"test_findall 1o_Otest_findall 2\"], [\"test_findall 1x_Xtest_findall 2\"], [\"test_findall 1p_Ptest_findall 2\"], [\"test_findall 1v_Vtest_findall 2\"], [\"test_findall 1y_Ytest_findall 2\[...]
    {
      "recorded_at": "2020-04-03T19:35:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w/values/wksht_test"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          [...]
    {
      "recorded_at": "2020-04-03T19:35:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"requests\": [{\"deleteSheet\": {\"sheetId\": 978334117}}]}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "json_body": {
          "requests": [
            {
              "deleteSheet": {
                "sheetId": 978334117
              }
            }
          ]
        },
        "method": "POST",
        "uri": "https://sheets.googleapis.com/v4/spreadsheets/1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w:batchUpdate"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"spreadsheetId\": \"1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w\",\n  \"replies\": [\n    {}\n  ]\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "json_body": {
          "replies": [
            {}
          ],
          "spreadsheetId": "1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1HiIX72LGxzpVlGy2Sg0XjjGyFnaUlKgOxQhiZXs3L8w:batchUpdate"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}